.DS_Store
black_magic_simulator
LCD interface/lcd_v1
csv
cycle
data_struct
programma
test_hys
test_programmah
testairsource
testairsource.cpp
output.txt
untitled
testing/air_source/test_generator
*.gcx
*.csv
*.dSYM
hysteresis_control/